<template name="admin">
  <div class="container">
    <div class="row padded-text">
      <div class="col col12">
        <h4>oneoff donations in the last month</h4>
      </div>
      <div class="col col12">
        <h4>new subscription in the last month</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col4 dashboard-value {{ifDonationsQuantityGrew}}">
        <h4>{{donationsNumberLastMonth}}</h4>
      </div>
      <div class="col col8 dashboard-value {{ifDonationsValueGrew}}">
        <h4>£{{donationsValueLastMonth}}</h4>
      </div>
      <div class="col col4 dashboard-value {{ifSubscriptionsQuantityGrew}}">
        <h4>{{subscriptionsNumberLastMonth}}</h4>
      </div>
      <div class="col col8 dashboard-value {{ifSubscriptionsValueGrew}}">
        <h4>£{{subscriptionsValueLastMonth}} / month</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col24">
        <hr />
      </div>
    </div>

    <div class="row padded-text">
      <div class="col col6">
        <h4>oneoff donations in the previous month</h4>
      </div>
      <div class="col col6">
        <h4>total oneoff donations</h4>
      </div>
      <div class="col col6">
        <h4>new subscriptions value in the previous month</h4>
      </div>
      <div class="col col6">
        <h4>total value of subscriptions</h4>
      </div>
    </div>
    <div class="row">
      <div class="col col6 dashboard-value">
        <h4>£{{donationsValuePreviousMonth}}</h4>
      </div>
      <div class="col col6 dashboard-value">
        <h4>£{{donationsTotalValue}}</h4>
      </div>
      <div class="col col6 dashboard-value">
        <h4>£{{subscriptionsValuePreviousMonth}} / month</h4>
      </div>
      <div class="col col6 dashboard-value">
        <h4>£{{subscriptionsTotal}} / month</h4>
      </div>
    </div>

    <div class="row">
      <div class="col col24">
        <hr />
      </div>
    </div>

<!--
    <div class="row">
      <div class="col col24">
        <a href class="nuclear"><em>Nuke Em!!!</em></a>
      </div>
    </div>
-->
  </div>
</template>