<template name="listEmails">
  <div class="container">
    <div class="row">
      <div class="col col24 small-padded-text">
        <h3>Subscribers ({{displayCount subscriptions}})</h3>
        <div class="email-export">
          {{#each subscriptions}}
            <div>{{displayEmail user}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col24 small-padded-text">
        <h3>Expireds ({{displayCount expiredUsers}})</h3>
        <div class="email-export">
          {{#each expiredUsers}}
            <div>{{displayEmail _id}}</div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col24 small-padded-text">
        <h3>Everyone ({{displayCount users}})</h3>
        <div class="email-export">
          {{#each users}}
            <div>{{displayEmail _id}}</div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</template>