<template name="faq">
  <div class="container">
    <div class="row">
      <div class="col col24 padded-text">

        <h2>FAQ</h2>

      </div>
    </div>
    <div class="row">
      <div class="col col12">

        <p><em>
          What data do you save?
        </em></p>
        <p>
          If you make a one off donation we save nothing more than a record of the transaction and the amount donated. Our payment gateway Stripe will save a record of the transaction.
        </p>
        <p>
          If you create a donation subscription we create a user account for you to manage the subscription, and a record of the amount of the subscription. We save no card data but our payment gateway Stripe saves a user profile and card data to process subscriptions as well as records of transactions.
        </p>
        <p>
          Our full personal data policy can be found here: <a href="//novaramedia.com/terms-and-conditions/novara-media-subscribers-personal-data-policy/">novaramedia.com/terms-and-conditions/novara-media-subscribers-personal-data-policy/</a>
        </p>
        <hr/>

        <p><em>
          I want to give you a very large amount (e.g. £500+) can I use this platform?
        </em></p>
        <p>
          You can but it would help us if you gave us advance notice so we can be sure your donation is not flagged as suspicious. Or we can arrange other money transfer solutions. In either case please email donations@novaramedia.com with the email subject 'LARGE DONATION'
        </p>
        <hr/>

      </div>

      <div class="col col12">

        <p><em>
          I don't have a password
        </em></p>
        <p>
          Your password is only set if you click the link in your account setup email. If you haven't the best solution is to reset your password from the forgot password page.
        </p>
        <hr/>

        <p><em>
          I can't update my card details
        </em></p>
        <p>
          Currently our system doesn't support this function (yes this is terrible and we are sorry). We are in the process of adding it. The best working solution is to delete your entire account and start again with a totally new subscription
        </p>
        <hr/>

        <p><em>
          Help my donation won't go thru / I'm getting errors
        </em></p>
        <p>
          Please contact us at donations@novaramedia.com with any technical issues. Please include all information you can and set the email subject to 'WEBSITE ERROR'
        </p>
        <p>
          As seen in the answer below a common solution to problems with previously successful subscriptions is simply to delete your user account and create a fresh one.
        </p>
        <hr/>

      </div>
    </div>
  </div>
</template>