<template name="faq">
  <div class="container">
    <div class="row">
      <div class="col col24">

        <h2>FAQ</h2>

      </div>
    </div>
    <div class="row">
      <div class="col col12">

        <p><em>
          What data do you save?
        </em></p>
        <p>
          If you make a one off donation we save nothing more than a record of the transaction and the amount donated. If you create a donation subscription we create a user account for you to manage the subscription, and a record of the amount of the subscription. We save no card data but our payment gateway Stripe saves card data to process subscriptions.
        </p>
        <hr/>

      </div>
    </div>
  </div>
</template>