<template name="faq">
  <div class="container">
    <div class="row">
      <div class="col col24 padded-text">

        <h2>FAQ</h2>

      </div>
    </div>
    <div class="row">
      <div class="col col12">

        <p><em>
          What data do you save?
        </em></p>
        <p>
          If you make a one off donation we save nothing more than a record of the transaction and the amount donated. If you create a donation subscription we create a user account for you to manage the subscription, and a record of the amount of the subscription. We save no card data but our payment gateway Stripe saves card data to process subscriptions.
        </p>
        <hr/>

        <p><em>
          I want to give you a very large amount (e.g. £500+) can I use this platform?
        </em></p>
        <p>
          You can but it would help us if you gave us advance notice so we can be sure your donation is not flagged as suspicious. Or we can arrange other money transfer solutions. In either case please email donations@novaramedia.com with the email subject 'LARGE DONATION'
        </p>
        <hr/>

      </div>

      <div class="col col12">

        <p><em>
          Help my donation won't go thru / I'm getting errors
        </em></p>
        <p>
          Please contact us at donations@novaramedia.com with any technical issues. Please include all information you can and set the email subject to 'WEBSITE ERROR'
        </p>
        <hr/>

      </div>
    </div>
  </div>
</template>