<template name="thanks">
  <div class="container">
    <div class="row">
      <div class="col col24">

        <h1>Thank You</h1>

        <p>Your donation means a lot to us and out project. Thanks to you and others like you we will be able to work towards making Novara Media a bigger, better and more sustainable project.</p>

        <h3>Media for a Different Politics</h3>

        <p>Please consider sharing your support with others on social media to make our fundraiser go even further</p>

        <p>**social shares**</p>

      </div>
    </div>
  </div>
</template>