<template name="thanks">
  <div class="container">
    <div class="row">
      <div class="col col24 padded-text">

        <h1>Thank You</h1>

        <p><h3>Thank you for taking part in <a href="https://twitter.com/search?q=%23novara10k&src=typd">#Novara10k</a>. Your donation will be put to remunerating contributors, expanding NovaraTV and creating NovaraIRL events. Novara Media is run by a committed team of volunteers, and by donating you are helping us to sustain and grow the project.</h3></p>

        <p><h3>Stay in touch with us on <a href="https://www.facebook.com/novaramedia/timeline/">Facebook</a>, <a href="https://twitter.com/novaramedia">Twitter</a> and <a href="https://www.youtube.com/channel/UCOzMAa6IhV6uwYQATYG_2kg">YouTube</a> and why not share your support for the project during October using the hashtag <a href="https://www.facebook.com/hashtag/novara10k?fref=ts">#Novara10k</a>. If you want to help us publicise <a href="https://twitter.com/search?q=%23novara10k&src=typd">#Novara10k</a>, email support.novaramedia.com to five friends. Tell them all about the project and ask if they would be interested in supporting us to build a new media for a better politics.</h3></p>

        <p><h3>Thanks again,</h3></p>

        <p><h2>Novara Media</h2></p>

        <h2>Media for a Different Politics</h2>
      </div>
    </div>
  </div>

  <div class="font-white background-red">
    <div class="container padded-text">
      <div class="row">
        <div class="col col24">
          <h1>Please consider sharing your support with others on social media to help our fundraiser reach even further</h1>
        </div>

        <div class="col col12">
          <p><div class="fb-share-button" data-href="http://support.novaramedia.com/" data-layout="button"></div></p>

          <p><a href="https://twitter.com/share" class="twitter-share-button" data-text="I just supported Novara Media" data-url="http://support.novaramedia.com/" data-related="novaramedia" data-count="none" data-hashtags="novara10k" data-dnt="true">Tweet</a></p>
        </div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=305272962896290";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>
    </div>
  </div>
</template>