<template name="thanks">
  <div class="container">
    <div class="row">
      <div class="col col24 padded-text">

        <h1>Thank You</h1>

        <p>Your donation means a lot to us and out project. Thanks to you and others like you we will be able to work towards making Novara Media a bigger, better and more sustainable project.</p>

        <h3>Media for a Different Politics</h3>
      </div>
    </div>
  </div>

  <div class="font-white background-red">
    <div class="container padded-text">
      <div class="row">
        <div class="col col24">
          <h2>Please consider sharing your support with others on social media to make our fundraiser go even further</h2>
        </div>

        <div class="col col12">
          <div class="fb-share-button" data-href="https://support.novaramedia.com/" data-layout="button"></div>
        </div>
        <div class="col col12">
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="novaramedia" data-related="novaramedia" data-count="none" data-hashtags="novara10k" data-dnt="true">Tweet</a>
        </div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3&appId=305272962896290";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

      </div>
    </div>
  </div>
</template>