<template name="header">
  <header id="header" class="container">
    <div class="row">
      <div class="col col18">
        <h1>Novara Media Payment Webapp</h1>
      </div>
      <div class="col col6">
        <ul>
          <li><a href="{{pathFor 'homepage'}}"><span class="genericon genericon-home"></span></a></li>
          <li><a href="/404">404 Link</a></li>
          {{#if isLoggedIn}}
            <li><a href="/" class="log-out">Log Out</a></li>
          {{else}}
            <li><a href="{{pathFor 'signup'}}">Sign Up</a></li>
            <li><a href="{{pathFor 'login'}}">Log In</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
    <hr/>
  </header>
</template>
