<template name="forgot">
  <div class="container">
    <div class="row">
      <div class="col col24">

        <form>
          <h2>Forgot Password?</h2>
          <div class="form-group">
            <label>
              <span>Your Email</span>
              <input required id="email" name="email" type="text" value="" />
            </label>
          </div>
          <div class="form-actions">
            <input type="submit" class="button" value="Reset Password" />
          </div>
        </form>

      </div>
    </div>
  </div>
</template>