<template name="login">
  <div class="container">
    <div class="row">
      <div class="col col24">
        <form>
          <h2>Login</h2>
          <div class="form-group">
            <label>
              <span>Username</span>
              <input required id="username" type="text" value="" />
            </label>
          </div>
          <div class="form-group">
            <label>
              <span>Password</span>
              <input required id="password" type="password" value="" />
            </label>
          </div>
          <div class="form-actions">
            <input type="submit" class="button" value="Log In" /><br/>
            <em><a href="/forgot">Forgot password?</a></em>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>