<template name="profile">
  <div class="container">
    <div class="row">
      <div class="col col12">

          <h4>Actions</h4>

          <ul>
            {{#if subscription}}
              <li><a href="" class="cancel-subscription">Delete Subscription</a></li>
            {{/if}}
            <li><a href="" class="delete-account">Delete Account</a></li>
          </ul>

      </div>
      <div class="col col12">
          {{#if subscription}}
            <h3>Subscription</h3>
            £{{subscription.amount}} / month

            <form id="edit-subscription">
              <h4>Edit Subscription</h4>
              <div class="form-group">
                <label>
                  <span>Donation £ / month</span>
                  <input type="text" value="{{subscription.amount}}" name="donation-amount" id="edit-subscription-donation-amount"/>
                </label>
              </div>
              <button type="submit">Donate</button>
          </form>
          {{else}}
          <form id="new-subscription">
            <h4>New Subscription</h4>
            <div class="form-group">
              <label>
                <span>Donation £ / month</span>
                <input type="text" name="donation-amount" id="new-subscription-donation-amount"/>
              </label>
            </div>
            <button type="submit">Donate</button>
          </form>
          {{/if}}

      </div>
    </div>
  </div>
</template>