<template name="profile">
  <div class="container">
    <div class="row">
      <div class="col col12 padded-text">

          <h3>Actions</h3>

          <ul>
            {{#if subscription}}
              <li><a href="" class="cancel-subscription">Delete Subscription</a></li>
            {{/if}}
            <li><a href="" class="delete-account">Delete Account</a></li>
          </ul>

      </div>
      <div class="col col12 padded-text">
          {{#if subscription}}
            <h3>Subscription</h3>
            <h2>£{{subscription.amount}} / month</h2>

            <form id="edit-subscription">
              <h3>Edit Subscription</h3>
              <div class="form-group">
                <label>
                  <span>Donation £ / month</span>
                  <input type="text" required value="{{subscription.amount}}" name="donation-amount" id="edit-subscription-donation-amount"/>
                </label>
              </div>
              <button type="submit" id="edit-subscription-button">Edit subscription</button>
          </form>
          {{else}}
          <form id="new-subscription">
            <h3>New Subscription</h3>
            <div class="form-group">
              <label>
                <span>Donation £ / month</span>
                <input type="text" required name="donation-amount" id="new-subscription-donation-amount"/>
              </label>
            </div>
            <button type="submit" id="new-subscription-button">Donate</button>
          </form>
          {{/if}}

      </div>
    </div>
  </div>
</template>