<template name="profile">
  <div class="container">
    <div class="row padded-text">
      {{#if subscription}}
        <div class="col col12">
          <h3>Subscription:</h3>
        </div>
        <div class="col col12">
          <h2>£{{subscription.amount}} / month</h2>
        </div>
      {{else}}
        <div class="col col12">
          <h3>You have no active subscription</h3>
        </div>
      {{/if}}
    </div>

    <div class="row">
      <div class="col col12">
        {{#if subscription}}
          <a class="cancel-subscription button button-big">Delete Subscription</a>
        {{/if}}
        <a class="delete-account button button-big">Delete Account</a>
      </div>
    </div>

    <div class="row padded-text">
      <div class="col col12">
        {{#if subscription}}
          <form id="edit-subscription">
            <h3>Edit Subscription</h3>
            <div class="form-group">
              <label>
                <span>Donation £ / month</span>
                <input type="text" required value="{{subscription.amount}}" name="donation-amount" id="edit-subscription-donation-amount"/>
              </label>
            </div>
            <button type="submit" id="edit-subscription-button">Edit subscription</button>
        </form>
        {{else}}
        <form id="new-subscription">
          <h3>New Subscription</h3>
          <div class="form-group">
            <label>
              <span>Donation £ / month</span>
              <input type="text" required name="donation-amount" id="new-subscription-donation-amount"/>
            </label>
          </div>
          <button type="submit" id="new-subscription-button">Donate</button>
        </form>
        {{/if}}
      </div>
      <div class="col col12">
        <form id="update-card">
          <h3>Update card details</h3>

          <span class="payment-errors"></span>

          <div class="form-group">
            <label>
              <span>Card Number</span>
              <input required maxlength="20" type="text" size="20" data-stripe="number"/>
            </label>
          </div>

          <div class="form-group">
            <label>
              <span>CVC</span>
              <input class="inline" required type="text" size="4" data-stripe="cvc"/>
            </label>
          </div>

          <div class="form-group">
            <label>
              <span>Expiration (MM/YYYY)</span>
              <input class="inline" required maxlength="2" type="text" size="2" data-stripe="exp-month"/>
            </label>
            <label>
              <input class="inline" required maxlength="4" type="text" size="4" data-stripe="exp-year"/>
            </label>
          </div>

          <div class="form-group">
            <label>
              <span>Name on card (optional)</span>
              <input type="text" data-stripe="name"/>
            </label>
          </div>

          <div class="form-group">
            <label>
              <span>Address Line 1 (optional)</span>
              <input type="text" data-stripe="address_line1"/>
            </label>
            <label>
              <span>Address Line 2 (optional)</span>
              <input type="text" data-stripe="address_line2"/>
            </label>
            <label>
              <span>City/Town (optional)</span>
              <input type="text" data-stripe="address_city"/>
            </label>
            <label>
              <span>County/State (optional)</span>
              <input type="text" data-stripe="address_state"/>
            </label>
            <label>
              <span>Postcode/Zip (optional)</span>
              <input type="text" data-stripe="address_zip"/>
            </label>
          </div>

          <button type="submit" id="update-card-button">Update card</button>
        </form>
      </div>
    </div>
  </div>
</template>