@import "novara"

#alerta-holder
  display: none
  background-color: $red
  color: white
  margin-bottom: $margin-tiny
  text-align: center

#alerta-messages
  box-sizing: border-box
  padding: $margin-small