@import "novara"

input
  display: block

form
  width: 100%
  max-width: 650px
  margin: $margin-small auto !important

input
  padding: $margin-tiny
  box-sizing: border-box
  width: 100%
  &.inline
    width: 33%
    display: inline-block

.form-group
  span
    font-size: 1.2em
    font-weight: bold
    display: block
    margin-top: $margin-tiny
    margin-bottom: $margin-tiny
    &.terms-span
      display: inline-block

.terms-checkbox
  display: inline-block
  width: 30px
  height: 1.2em

button[type=submit], .button
  margin-top: $margin-tiny
  background-color: $red
  color: white
  border: solid 2px white
  font-size: 1.5em
  padding: $margin-tiny
  box-sizing: border-box
  width: 33%
  &[disabled]
    background-color: gray

.optional-address
  display: none