@import "resets"
@import "novara"

#header
  background-image: url(/images/marble-1400.jpg)

#logo-nm
  height: 45px
  width: 45px

.js-live, ul.u-inline-list li.js-live
  display: none

// MAIN

.padded-text
  padding-top: $margin-basic
  padding-bottom: $margin-basic


@media screen and (max-width: ($col * $cols)+($gutter * $cols))

  $gutter = 16px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .padded-text
    padding-top: $margin-basic
    padding-bottom: $margin-basic

@media screen and (max-width: 1152px)

  $gutter = 12px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .padded-text
    padding-top: $margin-basic
    padding-bottom: $margin-basic

@media screen and (max-width: 912px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .padded-text
    padding-top: $margin-basic
    padding-bottom: $margin-basic

@media screen and (max-width: 696px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  .padded-text
    padding-top: $margin-basic
    padding-bottom: $margin-basic
