@import "resets"
@import "novara"

#admin-menu, #header
  font-size: 1.5em
  font-weight: bold
  line-height: 1.5

#admin-menu
  padding: $margin-tiny 0
  a:hover
    text-decoration: underline

#header
  background-image: url(/images/marble-1400.jpg)
  background-color: black

.header-logo
  height: 30px
  width: 30px

.js-live, ul.u-inline-list li.js-live
  display: none

// MAIN

.padded-text
  margin-top: $margin-basic
  margin-bottom: $margin-basic

hr
  height: 3px
  background: black
  border: 0
  margin-top: $margin-basic
  margin-bottom: $margin-small

.only-mobile
  display: none

.only-desktop
  display: initial

// DASHBOARD

.dashboard-value
  padding: $margin-small
  border: 3px solid black
  box-sizing: border-box
  font-size: 2rem
  text-align: center

.negative-growth
  background-color: yellow

.positive-growth
  background-color: limegreen

@media screen and (max-width: ($col * $cols)+($gutter * $cols))

  $gutter = 16px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #admin-menu
    padding: $margin-tiny 0

  .padded-text
    margin-top: $margin-basic
    margin-bottom: $margin-basic

@media screen and (max-width: 1152px)

  $gutter = 12px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #admin-menu
    padding: $margin-tiny 0

  .padded-text
    margin-top: $margin-basic
    margin-bottom: $margin-basic

@media screen and (max-width: 912px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #admin-menu
    padding: $margin-tiny 0

  .padded-text
    margin-top: $margin-basic
    margin-bottom: $margin-basic

@media screen and (max-width: 696px)

  $gutter = 8px
  $margin-tiny = ($gutter/2)
  $margin-small = $gutter
  $margin-basic = ($gutter*3)
  $margin-large = ($gutter*5)

  #admin-menu
    padding: $margin-tiny 0

  #admin-menu, #header
    font-size: 1.3em
    font-weight: bold
    line-height: 1.4

  .padded-text
    margin-top: $margin-basic
    margin-bottom: $margin-basic

  .only-mobile
    display: initial

  .only-desktop
    display: none
